<head>
<%- include('./Layout/head')%>
</head>
<body>
    <%- include('./Layout/header') %>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <div>
            <img src="../../loginadmin/images/1.gif" style="padding-left: 550px; padding-top: 150px; height: 700px;" />
        </div>
    <%- include('./Layout/menu') %>  
    <%- include('./Layout/foot')%>
</body>

</html>