<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../logincustomer/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../logincustomer/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../logincustomer/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../logincustomer/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../logincustomer/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../logincustomer/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../logincustomer/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../logincustomer/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../logincustomer/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../logincustomer/css/util.css">
  <link rel="stylesheet" type="text/css" href="../../logincustomer/css/main.css">
  
<!--===============================================================================================-->
</head>


<body class="customer">
  <%- include('./_menu.ejs') %>
  <br/>
  
 <br/>
 <br/>
  <div class="align-center">
    <h2 class="text-center">CUSTOMER LOGIN</h2>
    <form action="./login" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-append">
        </div>
      <br/>
      <br/>
      <table class="align-center">
        <tr>
          <td>Username : </td>
          <td><input type="text"  name="txtUsername" required /></td>
        </tr>
        <tr>
          <td>Password : </td>
          <td><input type="password" name="txtPassword" required /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="LOGIN" /></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="./signup">Sign Up</a> for a new account</td>
        </tr>
      </table>
    </form>
  </div>
	
    
    
  
    
    
  <!-- ===============================================================================================
    <script src="../../logincustomer/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="../../logincustomer/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
    <script src="../../logincustomer/vendor/bootstrap/js/popper.js"></script>
    <script src="../../logincustomer/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="../../logincustomer/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="../../logincustomer/vendor/daterangepicker/moment.min.js"></script>
    <script src="../../logincustomer/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
    <script src="../../logincustomer/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
    <script src="../../logincustomer/js/main.js"></script>
</body>

</html>